{
  "Resource": [
    {
      "id": "…",
      "name": "…"
    }
  ],
  "Unit": [
    {
      "id": "…",
      "name": "…",
      "color": "<hexadecimal color value>"
    }
  ],
  "User": [
    {
      "id": "…",
      "role": "…",
      "email": "…",
      "firstName": "…",
      "lastName": "…",
      "password": "…",
      "unitId": "…"
    }
  ],
  "Event": [
    {
      "id": "…",
      "start": "…",
      "end": "…",
      "description": "…",
      "allDay": <true|false>,
      "resourceId": "…",
      "userId": "…"
    }
  ]
}
